<% provide(:title, "Home") %>

<div class="center jumbotron">

<h1>La réponse de l'univers</h1>
<p>
  Pourquoi sommes-nous là, quel est notre but ? <br />
  Tant de questions qui restent sans réponse, ou peut-être pas ? <br />
  La solution se trouve dans
</p>
<a><%= link_to "La grotte de l'inconnu", secretpage_path %></a>
<br />
<br />
  <%= link_to "inscris toi pour rentrer dans la grotte", signup_path, class: "btn btn-lg btn-primary" %>

</div>