<% provide(:title, "pagesecrete") %>


<h1>Astuce pour trouver la réponse à la grande question</h1>

<h2>La grotte de l'inconnu</h2>

<p>
Vous l'avez sûrement aperçue lors de votre passage à Azuria : elle est située de l'autre côté d'un cours d'eau, au nord-ouest de la ville, Surf est requis pour l'atteindre. Toutefois, son accès n'est possible qu'après avoir terminé le défi de la Ligue pour la première fois : une personne en bloque l'entrée si vous n'êtes pas encore le Maître. 
Et pour cause : les Pokémon qui s'y trouvent ont un niveau très élevé, et Mewtwo, qui est certainement le Pokémon le plus puissant du jeu, s'y cache.
Cette grotte est étalée sur trois niveaux, et chaque niveau est à lui seul un véritable labyrinthe !  
</p>
<p> En fouillant complètement le rez-de-chaussée, vous trouverez un Max Élixir, une Pépite et une Guérison.
</p>
<p>
Les deux premiers escaliers que vous croiserez mènent à la même zone du niveau 1 : c'est un cul de sac (ou plutôt une boucle), on y récupère simplement un PP Plus.
Le troisième vous conduit vers une autre "boucle" du 1er étage : il y a une Guérison cette fois, et au bout vous redescendrez au rez-de-chaussée.
</p>
<p>
Il ne vous reste plus qu'à emprunter le dernier escalier du rez-de-chaussée pour atteindre le 1er étage. Vous trouverez une Hyper Ball dans cette partie du 1er étage.
Prenez le seul escalier joignable de là où vous êtes : il vous fera descendre au RDC, et juste après une autre échelle vous conduira au sous-sol. Là vous trouverez un Rappel Max ainsi qu'une autre Hyper Ball.
</p>

<p>
Au bout de ce niveau, vous rencontrerez Mewtwo. Ce sera pour vous la seule occasion de le capturer.
Note : si vous n'avez pas encore utilisé votre Master Ball, et bien c'est le moment ou jamais de vous en servir ! 
De part sa capacité à se régénérer, Mewtwo est le Pokémon qui justifie le plus l'emploi de cette Ball.
</p>
